{% extends 'bootstrap.twig' %}

{% block css %}
    {{ parent() }}
    <link href="/assets/dist/app.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <noscript>
        <h1 style="text-align:center;">UploadBro requires javascript to run propperly :(</h1>
    </noscript>
    <div id="app"/>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script>var csrfToken = '{{ csrftoken }}';</script>
    <script src="/assets/dist/commons.js"></script>{#<script src="/assets/dist/libs.js"></script>#}
    <script src="/assets/dist/app.js"></script>
{% endblock %}