<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#142F4C">
    <meta name="msapplication-navbutton-color" content="#142F4C">
    <meta name="apple-mobile-web-app-status-bar-style" content="#142F4C">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UploadBroBot</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/js/app.css" rel="stylesheet">
    <link rel="icon" href="/favicon.ico">
</head>
<body>
<div id="app">
</div>

<script src="/assets/js/app.js"></script>
</body>
</html>