{% extends 'bootstrap.twig' %}

{% block css %}
    {{ parent() }}
    <link href="/assets/dist/css-app.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <noscript><h1 style="text-align:center;">UploadBro requires javascript to run propperly :(</h1></noscript>
    {#{% include 'load_screen.twig' %}#}
    <div id="app">{{ appPreRender|raw|default }}</div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="/assets/dist/commons.js"></script>
    <script async defer src="/assets/dist/sw-register.js"></script>
    <script src="/assets/dist/app.js"></script>
{% endblock %}
