{#<div id="loader-wrapper" class="no-js">#}
    {#<div id="loader">#}
        {#<div class="sk-cube-grid">#}
            {#<div class="sk-cube sk-cube1"></div>#}
            {#<div class="sk-cube sk-cube2"></div>#}
            {#<div class="sk-cube sk-cube3"></div>#}
            {#<div class="sk-cube sk-cube4"></div>#}
            {#<div class="sk-cube sk-cube5"></div>#}
            {#<div class="sk-cube sk-cube6"></div>#}
            {#<div class="sk-cube sk-cube7"></div>#}
            {#<div class="sk-cube sk-cube8"></div>#}
            {#<div class="sk-cube sk-cube9"></div>#}
        {#</div>#}
        {#<h2 style="text-align: center; color: white;">#}
            {#UploadBro#}
        {#</h2>#}
    {#</div>#}
    {#<script>#}
        {#var elem = document.getElementById('loader-wrapper');#}
        {#elem.classList.remove("no-js");#}
        {#setTimeout(function () {#}
            {#elem.parentNode.removeChild(elem);#}
        {#}, 400);#}
    {#</script>#}
{#</div>#}
